<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Training
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Training</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-grade-counter grade-name="Extrem" grade-description="8A 8B 8C" grade-color="grey"></app-grade-counter>
  <app-grade-counter grade-name="Very Hard" grade-description="7A 7B 7C" grade-color="red"></app-grade-counter>
  <app-grade-counter grade-name="Hard" grade-description="6A 6B 6C" grade-color="green"></app-grade-counter>
  <app-grade-counter grade-name="Medium" grade-description="5A 5B 5C" grade-color="goldenrod"></app-grade-counter>
  <app-grade-counter grade-name="Easy" grade-description="4A 4B 4C" grade-color="blue"></app-grade-counter>
  <app-grade-counter grade-name="Baby" grade-description="3A 3B 3C" grade-color="lightslategray"></app-grade-counter>

</ion-content>